*{
  padding: 0;
  margin: 0;
}
.posicion{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }


@media only screen and (max-width : 1024px){
  
  .rounded-circle{
    width: 45px;
    height: 45px;
  }
  .productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}